# ATC coding rules - https://github.com/atc-net/atc-coding-rules
# Version: 1.0.0
# Updated: 27-11-2025
# Location: src
# Distribution: DotNet10
# Inspired by: https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options

##########################################
# Code Analyzers Rules
##########################################
[*.{cs,csx,cake}]

# AsyncFixer
# http://www.asyncfixer.com


# Asyncify
# https://github.com/hvanbakel/Asyncify-CSharp


# Meziantou
# https://www.meziantou.net/enforcing-asynchronous-code-good-practices-using-a-roslyn-analyzer.htm


# Microsoft - Code Analysis
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/


# Microsoft - Compiler Errors
# https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/


# SecurityCodeScan
# https://security-code-scan.github.io/


# StyleCop
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers


# SonarAnalyzer.CSharp
# https://rules.sonarsource.com/csharp


##########################################
# Custom - Code Analyzers Rules
##########################################

dotnet_diagnostic.CS0067.severity = none # The event 'event' is never used

dotnet_diagnostic.CA1812.severity = none # Internal class is never instantiated
dotnet_diagnostic.CA2227.severity = none # Change to read-only setter

dotnet_diagnostic.SA1310.severity = none # Field should not contains underscore
dotnet_diagnostic.SA1611.severity = none # The documentation for parameter 'element' is missing
dotnet_diagnostic.SA1615.severity = none # Element return value should be documented
dotnet_diagnostic.SA1618.severity = none # Documented..
dotnet_diagnostic.SA1642.severity = none # Documented..

dotnet_diagnostic.S2372.severity = none
dotnet_diagnostic.S3011.severity = none
dotnet_diagnostic.S4144.severity = none

dotnet_diagnostic.MA0016.severity = none